<!-- rule engine processor -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <bean id="SharkysExpressLoansApplicationProcessor" class="dev.kyuelin.ruleengine.base.SpringRuleEngine">
        <property name="firstStep">
            <ref bean="ValidApplicationRule"/>
        </property>
    </bean>
    <!-- validation -->
    <bean id="ValidApplicationRule" class="dev.kyuelin.ruleengine.rules.ValidApplicationRule">
        <property name="positiveOutcomeStep">
            <ref bean="ValidStateRule"/>
        </property>
        <property name="negativeOutcomeStep">
            <ref bean="RejectionAction"></ref>
        </property>
    </bean>

    <bean id="ValidIncomeExpenseRatioRule" class="dev.kyuelin.ruleengine.rules.ValidIncomeExpenseRatioRule"/>

    <!-- rejection -->
    <bean id="RejectionAction" class="dev.kyuelin.ruleengine.actions.ProcessRejectionAction">
        <property name="persistenceService">
            <ref bean="LoanApplicationPersistenceService"/>
        </property>

    </bean>
    <!-- persistence service -->
    <bean id="LoanApplicationPersistenceService" class="dev.kyuelin.ruleengine.base.MockLoanApplicationPersistence"/>

    <!-- check valid state -->
    <bean id="ValidStateRule" class="dev.kyuelin.ruleengine.rules.ValidStateRule">
        <property name="validStates">
            <list>
                <value>TX</value>
                <value>MI</value>
            </list>
        </property>
        <property name="positiveOutcomeStep">
            <ref bean="ValidIncomeExpenseRatioRule"/>
        </property>
        <property name="negativeOutcomeStep">
            <ref bean="RejectionAction"></ref>
        </property>
    </bean>

</beans>