<!-- rule engine processor -->
<beans>
    <bean id="SharkysExpressLoansApplicationProcessor" class="SpringRuleEngine">
        <property name="firstStep">
            <ref bean="ValidApplicationRule"/>
        </property>
    </bean>
    <!-- validation -->
    <bean id="ValidApplicationRule" class="ValidApplicationRule">
        <property name="positiveOutcomeStep">
            <ref bean="ValidStateRule"/>
        </property>
        <property name="negativeOutcomeStep">
            <ref bean="RejectionAction"></ref>
        </property>
    </bean>

    <!-- rejection -->
    <bean id="RejectionAction" class="ProcessRejectionAction">
        <property name="persistenceService">
            <ref bean="LoanApplicationPersistenceService"/>
        </property>

    </bean>
    <!-- persistence service -->
    <bean id="LoanApplicationPersistenceService" class="MockLoanApplicationPersistence"/>

    <!-- check valid state -->
    <bean id="ValidStateRule" class="ValidStateRule">
        <property name="validStates">
            <list>
                <value>TX</value>
                <value>MI</value>
            </list>
        </property>
        <property name="positiveOutcomeStep">
            <ref bean="ValidIncomeExpenseRatioRule"/>
        </property>
        <property name="negativeOutcomeStep">
            <ref bean="RejectionAction"></ref>
        </property>
    </bean>

</beans>